<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>

    <rewrite>
      <rules>
        <rule name="Nodejs">
          <match url=".*" />
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>

    <defaultDocument>
      <files>
        <add value="server.js" />
      </files>
    </defaultDocument>

    <iisnode 
      loggingEnabled="true"
      devErrorsEnabled="true"
      node_env="development"
    />

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" /> <!-- 1 GB in bytes -->
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>

  <system.web>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" /> <!-- 1 GB in KB -->
  </system.web>
</configuration>
